<header>
<nav>
  <ul>
    <li><a href={{ url_for('public.index') }} title="Available to all users">Home</a></li>
    <li><a href={{ url_for('private.index') }} title="For signed in users only">Private data</a></li>
    <li><a href={{ url_for('stripe.checkout') }} title="Purchase">Purchase</a></li>
    <li><a href={{ url_for('public.error') }} title="This page will produce an error">Error</a></li>
  </ul>
  <ul>
  # if current_user is defined and current_user.is_authenticated
    <li>
      {{ current_user.name }}
      <img src="{{ current_user.picture }}" alt="{{ current_user.name }}" class="avatar">
    </li>
    # if current_user.is_admin
    <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
    # endif
    <li><a href="{{ url_for('auth.logout') }}">Sign out</a></li>
  # else
    <li><a href="{{ url_for('auth.login') }}">Sign in</a></li>
    <li>Currently not signed in</li>
  # endif
  </ul>
</nav>
</header>
